/* General Reset */
* {
  /*
  background-image: url(../images/white\ image.jpg);
  */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* Body Styling */

body {
  background-image: url(../images/background\ image.avif);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
}

/* Header Styling */
a {
  text-decoration: none;
  color: slateblue;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navbar .logo {
  font-size: 50px;
  font-weight: 900;
}
.navbar ul {
  display: flex;
}
.navbar ul li {
  list-style: none;
  margin-left: 30px;
}
.navbar ul li a {
  font-size: 20px;
  font-weight: 500;
  transition: 0.5s;
}
.navbar ul li a:hover {
  text-decoration: underline;
}

/* Section Styling */
section {
  padding: 10px;
  margin: 150px 100px;
  border-radius: 8px;
}

section h2 {
  color: #333;
  margin-bottom: 15px;
  text-align: center;
}

section p {
  color: black;
}

/*contact styling*/

.contact-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.contact-info,
.contact-form,
.map-container {
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 8px;
}

.contact-info p,
.contact-form form {
  margin-bottom: 15px;
}

.contact-form label {
  display: block;
  margin-bottom: 8px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 4px;
  border: 1px solid #ddd;
}

.contact-form button {
  padding: 10px 20px;
  background-color: #072be0;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: #0442c9;
}

.map-container iframe {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

/* Footer Styling */
footer {
  background-color: blueviolet;
  color: #fff;
  padding: 20px;
  text-align: center;
  font-size: 14px;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
}

.footer-links {
  margin-top: 10px;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
  padding: 0 10px;
}

.footer-links a:hover {
  text-decoration: underline;
}

.social-media {
  margin-top: 10px;
}

.social-media a {
  margin: 0 10px;
}

.social-media img {
  width: 30px;
  height: 30px;
  opacity: 0.8;
  transition: opacity 0.3s ease;
}

.social-media img:hover {
  opacity: 1;
}
/*end footer section*/
